<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Municipiofrontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Denuncia.CrearDenuncia"
            android:exported="false" />
        <activity
            android:name=".Activities.Reclamo.ReclamoParticular"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activities.Reclamo.CrearReclamo"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.PrimerIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Vecino.VecinoIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Arranque.Template"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Usuario.Empleado.EmpleadoIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Invitado.InvitadoIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Vecino.VecinoRecupero"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Vecino.VecinoRegistro"
            android:exported="false" />
        <activity
            android:name=".Activities.Publicacion.VerPublicacionesInvitado"
            android:exported="false" />
        <activity
            android:name=".Activities.Reclamo.VerReclamos"
            android:exported="false" />
        <activity
            android:name=".Activities.Denuncia.VerDenuncias"
            android:exported="false" />

        <service
            android:name=".notificaciones.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>