<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Municipiofrontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Reclamo.CrearReclamo"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.PrimerIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Vecino.VecinoIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Arranque.Template"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Usuario.Empleado.EmpleadoIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Invitado.InvitadoIngreso"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Vecino.VecinoRecupero"
            android:exported="false" />
        <activity
            android:name=".Activities.Usuario.Vecino.VecinoRegistro"
            android:exported="false" />
        <activity
            android:name=".Activities.Publicacion.VerPublicacionesInvitado"
            android:exported="false" />
        <activity
            android:name=".Activities.Reclamo.VerReclamos"
            android:exported="false" />
    </application>

</manifest>